* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.cell.selected {
  background-color: rgb(27, 34, 45);
}

.available {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(28, 227, 28);
}

.white {
  background-color: rgb(43, 122, 122);
}

.black {
  background-color: rgb(126, 37, 37);
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgrey;
}